@import url('reset.css');

body {
    background-color: rgb(0, 0, 0);
}

header {
    padding: 32px 0 0;
    border-bottom: 1px solid rgba(110, 190, 230, 0.8);
}

main {
    border-top: 1px solid rgba(110, 190, 230, 0.8);
    border-bottom: 1px solid rgba(110, 190, 230, 0.8);
    text-align: center;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(37, 74, 231, 0.3), rgba(0, 0, 0, 0.6)), 
    url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-bottom: 400px;
    border-bottom: 2px solid rgba(37, 74, 231, 0.3);
}

.banner p {
    color:antiquewhite;
    font-size: 1.2em;
    margin: 12px 0 24px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50%;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .banner-content {
    text-align: center;
    width: 600px;
    margin: auto;
}

.banner .banner-content button {
    font-size: 1.35em;
    padding: 10px 28px;
    border: 1px solid rgba(110, 190, 230, 0.8);
    color: rgba(110, 190, 230, 0.8);
    -webkit-background-clip: text;
    background-clip: text;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(rgba(110, 190, 230, 0.8), rgba(112, 131, 234, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
}

#course-content {
    width: auto;
    height: auto;
    color: rgba(255, 255, 255, 1);
}

#course-content h2{
    font-size: 2.75rem;
    padding: 52px 0 26px;
    letter-spacing: 2px;
    color: rgba(110, 190, 230, 0.9);
}

#course-content p {
    padding: 0 0 26px;
    width: 800px;
    margin: auto;
    height: auto;
    font-size: 1.1em;
}

#course-content .module {
    font-size: 1.1em;
    padding: 12px 58px 14px;
    border: 1px solid rgba(117, 202, 245, 0.9);
    border-radius: 100px;
    background-color: rgb(17, 17, 17);
    box-shadow: inset -5px 5px 6px rgba(0, 0, 0, 0.6);
}

.module span {
    color: rgba(117, 202, 245, 0.9);
}

#transform-world {
    background-image: url("../images/woman-code.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid rgba(110, 190, 230, 0.8);
    border-bottom: 1px solid rgba(110, 190, 230, 0.8);
}

#transform-world p {
    font-weight: bold;
    font-size: 3em;
    text-align: left;
    height: auto;
    width: 300px;
    color: #FFF;
    padding: 250px 0 0 50px;
    margin: 0 0 0 104px;
    text-transform: lowercase;
    text-shadow: 3px 2px rgba(110, 190, 230, 0.8);
}

#professional-challenges {
    width: 800px;
    text-align: center;
}

#professional-challenges h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    color:rgba(110, 190, 230, 0.8);
}

section {
    margin: 100px auto;
}

#professional-challenges p {
    color: #FFF;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

footer .dio-logo {
    width: 300px;
}